/* ## XS VIEW */
@media screen and (min-width: 462px) {
  .xs-d-none {
    display: none;
  }

  .xs-d-block {
    display: block;
  }

  #bottombar .settings {
    width: 150px;
    min-width: 105px;
  }
}

/* ## S VIEW */
@media screen and (min-width: 576px) {
  /* ##display */
  .s-d-none {
    display: none;
  }

  .s-d-block {
    display: block;
  }

  /* #SIDEBAR */

  #sidebar {
    padding-left: 0;
  }

  #sidebar #sidebar-elements > * {
    border-left: var(--active-border-w) solid transparent;
    padding-left: calc(var(--space-s) - var(--active-border-w));
  }

  #sidebar #sidebar-elements > .hov-active {
    width: fit-content;
  }

  #sidebar #sidebar-elements > .hov-active:hover {
    border-left-color: limegreen;
  }

  #sidebar a:not(.logo, #profile-wrapper > *) {
    filter: brightness(0.6);
    width: fit-content;
  }

  #sidebar a:not(.logo, #profile-wrapper):hover {
    filter: brightness(1);
  }

  #sidebar #profile-wrapper {
    padding-top: var(--space-s);
    border-top: 1px solid var(--main-text-color-light);
    margin-top: var(--space-s);
  }

  #sidebar .icon {
    margin-left: 0;
    margin-right: 5px;
  }

  #sidebar #create-wrapper .icon {
    width: 36px;
  }

  #sidebar .top-wrapper .label {
    width: 80%;
  }
  /* --playlist-wrapper */
  #sidebar #playlist-wrapper .icon {
    width: 32px;
    margin-left: 0;
    margin-right: 0;
  }

  #sidebar #playlist-wrapper .label {
    width: 70%;
  }

  /* ##BOTTOMBAR */

  /* --onair */

  /* #bottombar .on-air-desc {
    max-width: 150px;
  }

  #bottombar .on-air-desc .subtitle {
    display: inline-block;
  }

  #bottombar .settings .progress {
    width: 80px;
    margin: auto;
  } */
}

/* ## MD VIEW */
@media screen and (min-width: 768px) {
  /* #MAINCONTENT */

  /* --section */

  #main-content section .col {
    width: calc(100% / 4);
  }

  #bottombar .browse-wrapper {
    flex-direction: row;
  }

  #bottombar .settings,
  #bottombar .browse-wrapper {
    gap: var(--space-s);
  }
}

/* ## LG VIEW */
@media screen and (min-width: 992px) {
  /* #SIDEBAR */

  /* --general */
  #sidebar {
    padding-right: var(--space-m);
    max-width: 230px;
  }

  #sidebar #sidebar-elements > * {
    padding-left: calc(var(--space-m) - var(--active-border-w));
  }

  /* #MAINCONTENT */

  /* --section */

  #main-content section .col {
    width: calc(100% / 6);
  }
}
