/* -- RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  color: var(--main-text-color);
}

img {
  display: block;
  max-width: 100%;
}

a:link,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

ul.fa-ul,
ol.fa-ol {
  --fa-li-margin: var(--li-margin);
  --fa-li-width: var(--li-width);
}

i {
  font-style: inherit;
}

/* --CUSTOM PROPS */

:root {
  /* dimension */
  --text-s: 0.7rem;
  --text-m: 1.5rem;
  --space-xs: 5px;
  --space-s: 10px;
  --space-m: 25px;
  --space-l: 50px;

  --bottombar-hegth: 60px;
  --active-border-w: 4px;

  /* palette */
  --main-color: #141922;
  --sidebar-color: #000000;
  --topbar-color: hsla(0, 0%, 0%, 0.5);
  --topbar-btn-color: #000000;
  --bottombar-color: #282828;

  --main-text-color: #ffffff;
  --main-text-color-light: #777777;

  --main-progress-color: #5a5a5a5a;
  --secondary-progress-color: #c1c1c1c1;

  /* grid */
  --grid-padding: 1rem;
  --container-padding: calc(var(--grid-padding) + 0px);

  /* fontawesome list */
  --li-margin: 1em;
  --li-width: 1.5em;
}

/* -- GRID PROPS */

.container {
  max-width: 1180px;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

.overflow-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--grid-padding) * -1);
  margin-right: calc(var(--grid-padding) * -1);
}

.col {
  padding: var(--grid-padding);
}

/* -- UTIL PROPS */

.d-flex {
  display: flex;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.btn {
  display: block;
  height: fit-content;
  text-align: center;
  padding: 12px 18px;
  border-radius: 0;
  border: 1px solid currentColor;
  border-radius: 25px;
}

.btn.primary {
  background-color: var(--main-color);
  border: 0px;
  color: rgb(220, 44, 44);
}

.btn.tight {
  width: fit-content;
}

.btn:hover {
  filter: brightness(0.95);
}

.btn:active {
  filter: invert(0.2);
}

.navbar {
  display: flex;
  align-items: center;
  width: fit-content;
}

.navbar a {
  display: block;
  padding: 5px;
}

/* -- DEBUG */

.db {
  background-color: rgba(255, 0, 0, 0.236);
  /* border: 3px dashed black; */
  background-clip: content-box;
  /* min-height: 50px; */
}

/* .db > * {
  background-color: rgba(255, 0, 0, 0.236);
  border: 2px dotted black;
  background-clip: content-box;
  min-height: 50px;
} */

/* .db i::after {
  content: "ℹ️";
} */

/* .db a::after {
  content: "Questo è un link";
} */

/* ---------------------------------------- */

/* ##display */

.xxs-d-none {
  display: none;
}

.xxs-d-block {
  display: block;
}

/* ##APP TOP */

#app-top {
  background-color: var(--main-color);
  height: calc(100vh - var(--bottombar-hegth));
}

/* #SIDEBAR */

/* --general */
#sidebar {
  overflow: auto;
  background-color: var(--sidebar-color);
  padding: var(--space-s);
  gap: var(--space-s);
  flex-direction: column;

  max-width: 180px;

  font-size: 0.75rem;
  color: var(--main-text-color);
  font-weight: 700;

  /* debug */
  /* min-width: 50px; */
}

#sidebar-elements {
  height: 100%;
  flex-direction: column;
  gap: var(--space-s);
}

#sidebar .logo-big {
  width: 120px;
}

#sidebar .icon,
#sidebar .logo-small {
  width: 24px;
  margin-left: auto;
  margin-right: auto;
}

#sidebar #install-wrapper .icon {
  width: 18px;
}

#sidebar #install-wrapper {
  padding-bottom: var(--space-s);
}

#sidebar #profile-wrapper .icon {
  border-radius: 50%;
  background-color: #777777;
}

#sidebar .label {
  margin-top: auto;
  margin-bottom: auto;
}

/* --top-wrapper */

/* ... */

/* --playlist-wrapper */

#sidebar {
  flex-shrink: 0;
}

#sidebar #playlist-wrapper {
  flex-shrink: 1;
  min-height: 70px;
  overflow: auto;
}

#sidebar .playlist-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: var(--space-s);
}

/* --sidebar-bottom */

#sidebar #sidebar-bottom {
  margin-top: auto;
}

/* ##APP MAIN */

#app-main {
  overflow: auto;
  flex-grow: 1;
}

/* #TOPBAR */

#topbar {
  position: sticky;
  top: 0;
  background-color: var(--topbar-color);
  backdrop-filter: opacity(0.5);

  justify-content: flex-end;
  align-items: center;

  padding-top: calc(var(--space-m) - 5px);
  padding-bottom: calc(var(--space-m) - 5px);
}

#topbar .btn {
  font-size: var(--text-s);
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--topbar-btn-color);
  margin-right: var(--space-m);
}

#topbar .btn:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

/* #MAINCONTENT */

/* --navbar */
#main-content .navbar {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);

  font-size: var(--text-s);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--main-text-color-light);
}

#main-content .navbar li {
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
}

#main-content .navbar li a::after {
  content: "";
  display: block;
  border-bottom: 2px solid green;
  width: 30px;
  margin: 0 auto;
  opacity: 0;
}

#main-content .navbar li a:hover::after {
  opacity: 1;
}

/* --section */

#main-content section {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}

#main-content section .col {
  width: 50%;
}

#main-content section .cover {
  width: 100%;
}

#main-content #popolar .cover,
#main-content #popolar .card-layer {
  border-radius: 50%;
}

#main-content section .card {
  position: relative;
}

#main-content section .card-layer {
  opacity: 0;
  position: absolute;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #00000065;
  font-size: 4em;
}

#main-content section .card-layer i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-content section .card-layer:hover {
  opacity: 1;
  cursor: pointer;
}

#main-content .section-title {
  font-size: var(--text-m);
  font-weight: 600;
  padding-bottom: var(--space-s);
}

#main-content .section-subtitle {
  font-size: var(--text-s);
  font-weight: 600;
  color: var(--main-text-color-light);
}

#main-content .card {
  text-align: center;
  font-weight: 600;
}

#main-content .card-title,
#main-content .card-subtitle {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#main-content .card-title:hover,
#main-content .card-subtitle:hover {
  text-decoration: underline;
}

#main-content .card-title {
  padding: var(--space-xs) 0;
}

#main-content .card-subtitle {
  color: var(--main-text-color-light);
  font-size: var(--text-s);
}

/* ##BOTTOMBAR */

#bottombar {
  justify-content: space-between;
  gap: var(--space-xs);
  align-items: center;
  background-color: var(--bottombar-color);
  height: var(--bottombar-hegth);
  padding: var(--space-s);

  font-size: x-small;
}

#bottombar > * {
  max-height: var(--bottombar-hegth);
}

/* --onair */

#bottombar .on-air-wrapper {
  align-items: center;
  gap: var(--space-s);
}

#bottombar .on-air-image {
  width: calc(60px - var(--space-s));
}

#bottombar .on-air-desc {
  font-weight: 600;
}

#bottombar .on-air-desc .subtitle {
  color: var(--main-text-color-light);
}

#bottombar .on-air-desc .subtitle a:hover {
  color: var(--main-text-color);
  text-decoration: underline;
}

#bottombar .browse-wrapper {
  flex-direction: column;
  gap: var(--space-xs);
}

/* --Player */

#bottombar .player {
  width: 500px;
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
}

#bottombar .nav-song {
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--space-xs);
}

#bottombar .nav-song .play {
  font-size: 1.7rem;
  margin: 0 10px;
}

#bottombar .progress-empty {
  width: 100%;
  height: 4px;
  background-color: var(--main-progress-color);
  margin: auto var(--space-s);
  border-radius: 4px;
  cursor: pointer;
}

#bottombar .progress-full {
  width: 35%;
  height: 100%;
  background-color: var(--secondary-progress-color);
  border-radius: 4px;
  position: relative;
}

#bottombar .player .progress-full {
  animation-duration: 265s;
  animation-name: progress;
  animation-fill-mode: backwards;
  animation-timing-function: steps(265);
}

#bottombar .progress-empty:hover .progress-full::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 0.8px solid limegreen;
  background-color: #ffffff;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#bottombar .progress-empty:hover .progress-full {
  background-color: limegreen;
}

#bottombar .settings {
  gap: var(--space-xs);
  font-size: 1.1em;
}

#bottombar .settings .progress-empty {
  margin-left: 0;
  margin-right: 0;
}
